<ol reversed type="1">
<li><span id="CCCF2018"></span> T. Chumley, S. Cook, C. Cox, and R. Feres. Rolling and no-slip bouncing in cylinders. <em>J. Geom. Mech.</em>, 12(1):53--84, 2020. [ <a href="http://dx.doi.org/10.3934/jgm.2020004">DOI</a> | <a href="http://arxiv.org/abs/1808.08448">arXiv</a> ]</li>
<li><span id="CFG2020"></span> T. Chumley, R. Feres, and L. A. Garcia German. Computation of knudsen diffusivity in domains with boundary microstructure. <em>ArXiv e-prints</em>, 2020. [ <a href="http://arxiv.org/abs/2005.14318">arXiv</a> ]</li>
<li><span id="CF2019"></span> T. Chumley and R. Feres. Entropy production in random billiards and the second law of thermodynamics . <em>ArXiv e-prints</em>, 2019. [ <a href="http://arxiv.org/abs/1904.08924">arXiv</a> ]</li>
<li><span id="ACMR2016"></span> O. Aydogmus, T. Chumley, A. Matzavinos, and A. Roitershtein. Moran-type bounds for the fixation probability in a frequency-dependent Wright-Fisher model. <em>J. Math. Biol.</em>, 76(1):1--35, 2018. [ <a href="http://dx.doi.org/10.1007/s00285-017-1137-2">DOI</a> | <a href="http://arxiv.org/abs/1609.00838">arXiv</a> ]</li>
<li><span id="CFZ2016"></span> T. Chumley, R. Feres, and H.-K. Zhang. Diffusivity in multiple scattering systems. <em>Trans. Amer. Math. Soc.</em>, 368(1):109--148, 2016. [ <a href="http://dx.doi.org/10.1090/tran/6325">DOI</a> | <a href="http://arxiv.org/abs/1302.4339">arXiv</a> ]</li>
<li><span id="CFW2016"></span> T. Chumley, R. Feres, and M. Wallace. Exact discretization of harmonic tensors. <em>ArXiv e-prints</em>, 2016. [ <a href="http://arxiv.org/abs/1603.08566">arXiv</a> ]</li>
<li><span id="CCF2013"></span> T. Chumley, S. Cook, and R. Feres. From billiards to thermodynamics. <em>Comput. Math. Appl.</em>, 65(10):1596--1613, 2013. [ <a href="http://dx.doi.org/10.1016/j.camwa.2012.09.004">DOI</a> | <a href="http://arxiv.org/abs/1207.5878">arXiv</a> ]</li>
<li><span id="Chumley2013"></span> T. Chumley. <em>Limit Theorems for Random Billiard Models</em>. PhD thesis, 2013. [ <a href="https://search.proquest.com/docview/1353672079?accountid=12605">http</a> ]</li>
</ol>
